// Цвета
$primary-color: #172755;
$secondary-color: #252B42;
$accent-color: #EF2A82;
$text-color: #fff;
$light-text-color: hsl(240, 31%, 95%, 0.1);
$background-color: #f4f4f9;
$background-accent-color: #D61069;
$background-secondary-color: #364672;
$background-primary-color: #A60C51;
$main-color: #fff;
$muted-text-color: #8794BA;
$muted-border-color: #465B95;

// Шрифты
$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;

// Переменные для отступов
$padding-base: 20px;
